debug
release
temp
.vs/
.qtc_clangd/
.vscode/
.cache/
android-app-process
android-build
arm64-v8a

*.autosave
*.sln
*.suo
*.sdf
*.pdb
*.pro.user
*.vcxproj
*.vcxproj.filters
*.zip
.qmake.stash
Makefile
*.user
*.Debug
*.Release
*.autosave
qml_qmlcache.qrc

bin/*.dll
bin/*.pdb
bin/*.ilk
bin/*.exp
bin/*.lib
bin/*.exe
CCRRTClient/*.pdb